:root {
  --background-color: #333;
  --text-color: #ffffff; 
  --accent-color: #333; 
  --accent-color-light: #414141; 
  --font-family: 'Quicksand', sans-serif;
}

body {
  font-family: var(--font-family);
  background-image: url('images/bg.png');
  background-repeat: no-repeat;
  background-color: var(--background-color);
  background-size: 100%;
  margin: 0 auto;
  overflow-y: auto;
  color: var(--text-color); /* Set text color to white */
}

/* Settings Container */
.settings-container {
  padding-top: 100px;
  width: 100%; 
  margin: 0;
  display: flex;   
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em; /* Adjust the gap between items */
  box-sizing: border-box;
}

.panel {
  background-color: var(--accent-color);
  border-radius: 8px;
  padding: 20px;
  color: #b7b7b7;
  margin: 0.5%; /* Spacing between panels */
  display: table; 
  box-sizing: border-box;
  width: 48%; /* Adjust panel width to fit two per row */
  font-family: Arial;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Add a slight shadow */
}

.panel label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: var(--text-color);
}

.panel input,
.panel select,
.panel button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px; /* Spacing between form elements */
  border-radius: 5px;
}

.panel button {
  background-color: var(--accent-color-light);
  border: none;
  color: var(--text-color);
  cursor: pointer;
  margin-bottom: 20px; /* Reduce bottom margin for cleaner layout */
}

.panel button:hover {
  background-color: #666;
}

input,
select {
  background: var(--background-color); /* Consistent background */
  color: var(--text-color);
}

input:focus,
select:focus {
  background-color: var(--accent-color-light); /* Highlight on focus */
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .panel {
    width: 100%; /* Full width on smaller screens */
  }
}

/* Navbar styles */
ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

li.nav-item img {
  width: 50%;
  color: var(--text-color); /* Set color to white */
  display: block;
  transition: all 1s;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.nav-item {
  float: right;
  cursor: pointer !important;
}

li.nav-item img:hover {
  background-color: #444;
  border-radius: 15px;
}

/* Techno Theme */
body.techno {
  --background-color: blue;
  --text-color: purple;
  --accent-color: green; 
  --accent-color-light: black;
}

/* Oceanic Theme */
body.oceanic {
  --background-color: #00adb5;
  --text-color: #ffffff;
  --accent-color: blue; 
  --accent-color-light: #414141; 
}

/* Hacker Theme */
body.hacker {
  --background-color: #000;
  --text-color: #0f0; /* Green text color */
  --font-family: 'Courier New', monospace; /* Monospace font */
  --accent-color: purple; 
  --accent-color-light: grey;
}

/* Galaxy Theme */
body.galaxy {
  --background-color: purple;
  --text-color: black;
  --accent-color: white; 
  --accent-color-light: blue; 
  --star-color: #FFFFFF;
  --nebula-color: #a2bedb;
}

/* Cyberpunk Theme */
body.cyberpunk {
  --background-color: #ff00ff;
  --text-color: #00ff00;
  --accent-color: purple;
  --accent-color-light: black; 
}

/* Midnight Theme */
body.midnight{
  --background-color: #2c3e50;
  --text-color: #ecf0f1;
  --accent-color: black;
  --accent-color-light: black;
}

/* Gaming Theme */
body.gaming {
  --background-color: #800080;
  --text-color: #ffcc00;
  --accent-color: red; 
  --accent-color-light: black;
}

/* Crimson Theme */
body.crimson{
  --background-color:  black;
  --text-color: crimson;
  --accent-color: black;
  --accent-color-dark: black;
}
