:root {
  --background-color: #333;
  --text-color: #ffffff; 
  --accent-color: #333; 
  --accent-color-light: #414141; 
  --font-family: 'Quicksand', sans-serif;
}

body {
  font-family: var(--font-family);
  background-image: url('images/bg.png');
  background-repeat: no-repeat;
  background-color: var(--background-color);
  background-size: 100%;
  margin: 0 auto;
  overflow-y: auto;
  color: var(--text-color);
}

/* Themes */
body.techno {
  --background-color: blue;
  --text-color: purple;
  --accent-color: green; 
  --accent-color-light: black;
}

body.oceanic {
  --background-color: #1c233a;
  --text-color: #e6e6f4;
  --accent-color: #4560e2;
}

body.hacker {
  --background-color: #000000;
  --text-color: #ffffff;
  --accent-color: #00e676;
}

body.galaxy {
  --background-color: purple;
  --text-color: black;
  --accent-color: white; 
  --accent-color-light: blue;
}

body.cyberpunk {
  --background-color: #ff00ff;
  --text-color: #00ff00;
  --accent-color: purple;
  --accent-color-light: black;
}

body.midnight {
  --background-color: #0d1021;
  --text-color: #ffffff;
  --accent-color: #eebbc3;
}

body.gaming {
  --background-color: #800080;
  --text-color: #ffcc00;
  --accent-color: red; 
  --accent-color-light: black;
}

body.crimson {
  --background-color: black;
  --text-color: crimson;
  --accent-color: black;
}

body.halloween {
  --background-color: #0b0b0f;
  --text-color: #ffd1b3;
  --accent-color: #ffb300;
}

body.sunset {
  --background-color: #2c061f;
  --text-color: #f0c3b0;
  --accent-color: #ff784e;
}

body.light {
  --background-color: #1c1c38;
  --text-color: #ffffff;
  --accent-color: #6c3da3;
}

body.noctura {
  --background-color: #0b0b1a;
  --text-color: #ccc;
  --accent-color: #9fb2ff;
}

body.sapphire {
  --background-color: #010a13;
  --text-color: #e0f7ff;
  --accent-color: #00d4ff;
}

body.ruby {
  --background-color: #1a0002;
  --text-color: #e6e6e6;
  --accent-color: #b50909;
}

/* Navbar */
ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

li.nav-item img {
  width: 50%;
  color: var(--text-color);
  display: block;
  transition: all 1s;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.nav-item {
  float: right;
  cursor: pointer !important;
}

li.nav-item img:hover {
  background-color: #444;
  border-radius: 15px;
}

/* Panel and Settings Container */
.panel {
  background-color: var(--accent-color);
  border-radius: 8px;
  padding: 20px;
  color: #b7b7b7;
  margin: 0.5%;
  display: table;
  box-sizing: border-box;
  width: 48%;
  font-family: Arial;
}

.panel label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: var(--text-color);
}

.panel input, .panel select, .panel button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.panel button {
  background-color: var(--accent-color-light);
  border: none;
  color: var(--text-color);
  cursor: pointer;
  margin-bottom: 110px;
}

.panel button:hover {
  background-color: #666;
}

.settings-container {
  padding-top: 100px;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

input {
  box-sizing: border-box;
}
